<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Driwake</title>

  </head>
  <body>
    <header id="home">
      <nav>
       
        <div class="nav__bar">
          <div class="nav__logo">
            <a href = "/index">
              <img src = "/assets/banner.jpg" width="10px", height="60px"></a>
            <a href="#">Driwake</a>
          </div>
          <ul class="nav__links">
            <li class="link"><a href="#home">Home</a></li>
            <li class="link"><a href="#about">About Us</a></li>
            <li class="link"><a href="/timeline">Timeline</a></li>
            <li class="link"><a href="#contact">Contact Us</a></li>
            <li class="link"><a href="/register">Register/Login</a></li>
            
          </ul>
        </div>
      </nav>
      <div class="section__container header__container">
        <h2>THE BEST DRIVERS ARE AWARE THAT <br> THEY MUST BE BEWARE</h2>
        <h4>HI-TECH Alert System</h4>
        <button class="btn">
          Register <i class="ri-arrow-right-line"></i>
        </button>
      </div>
    </header>

   
    <script src="/src/main.js"></script>
  </body>
</html>
